<html lang="en">

<head>
    <title> Welcome Page </title>
</head>
<body>
<form action="save" method="post">
<h1> Team </h1>
<h2> Index Page : Below Details Please </h2>

<table>
    <tr>
        <td><label for="user-name">UserName</label>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td><label for="email">Email</label></td>
        <td><input type="text" name="email"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="Submit"value="submit"></td>
    </tr>

</table>



</form>
</body>

</html>